Criando uma série do pandas a partir de uma lista com os dados abaixo:
Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

In [1]:
ano = ('1900','1920','1940','1960','1980','2000','2020')
anomalia_termica = ('-0.08','-0.27','0.12','-0.03','0.26','0.40','1.02')

Criando uma séries do Pandas a partir de uma lista com esses dados abaixo.

In [2]:
import pandas as pd
import numpy as np

# Definindo os dados
temperaturas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02] 

# Criando a Série do Pandas
serie = pd.Series(temperaturas)

# Exibindo a Série 
print(serie)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

In [3]:
# Definindo os dados e os anos
temperaturas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02] 
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Criando a série com os anos como índices
serie = pd.Series(temperaturas, index=anos)

# Exibindo a série
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Criando a série a partir do dicionário
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibindo a série
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

In [5]:
arr = np.random.normal(100, 10, (20,3))

# Transformar o ndarray em DataFrame
df = pd.DataFrame(arr)

# Exibir o DataFrame
print(df)

             0           1           2
0   113.532578   81.226724  104.792875
1    86.153738  109.890136  117.367934
2   105.766023  103.921741  107.347951
3    91.563253   89.926843  105.017843
4    98.948179   95.582024  100.567568
5    92.777664   95.503073   85.599984
6   117.188362   92.229742   92.215971
7    82.550688  109.939019   94.104189
8    90.878647   77.107837   96.061331
9    83.343814   94.867137  117.884281
10  103.883928   95.974852  103.533079
11   97.464619   74.119728  104.067408
12   96.478421   99.098311   86.403337
13   92.138275   84.114633   93.035325
14  102.930764  101.194415  107.094975
15   97.270596  117.026761   87.324466
16  104.987804   79.972080  102.874684
17   96.313011  110.895598  111.357276
18   98.378853   96.567966   96.296773
19   92.170445   94.662650   99.267926

In [6]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)

# Nomeando os índices das linhas
df.index = range(1, 21)  

# Nomeando as colunas
df.columns = ['x1', 'x2', 'x3']  

# Exibindo o DataFrame
print(df)

            x1          x2          x3
1    95.914339   97.203109   95.180359
2   102.527639  100.092296   97.096843
3   110.805916  125.086320  116.113782
4   105.115297   86.518766   97.510945
5    99.045829  117.724781   87.219791
6    91.428006   94.805887  118.733286
7    88.841144   95.742171  103.342288
8    95.480309   99.426082   88.432296
9   113.191075   95.277716  111.794696
10  110.314288   92.710667   92.160607
11   85.170685  118.300499   98.284368
12   88.854449   96.348608  104.936308
13  115.444357   90.815115  111.034152
14   90.916908  104.190968  113.242739
15   80.339205  101.841425  106.201375
16   81.042820   92.669120  102.457063
17  106.628633  101.396918  100.869052
18  117.081480   93.153271   90.316192
19  108.886110  104.140560  107.284710
20  108.463672  104.135617   88.524501

In [7]:
# Criando a coluna "media"
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)  

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media
1    95.914339   97.203109   95.180359   96.099269
2   102.527639  100.092296   97.096843   99.905592
3   110.805916  125.086320  116.113782  117.335340
4   105.115297   86.518766   97.510945   96.381669
5    99.045829  117.724781   87.219791  101.330134
6    91.428006   94.805887  118.733286  101.655726
7    88.841144   95.742171  103.342288   95.975201
8    95.480309   99.426082   88.432296   94.446229
9   113.191075   95.277716  111.794696  106.754496
10  110.314288   92.710667   92.160607   98.395187
11   85.170685  118.300499   98.284368  100.585184
12   88.854449   96.348608  104.936308   96.713122
13  115.444357   90.815115  111.034152  105.764541
14   90.916908  104.190968  113.242739  102.783538
15   80.339205  101.841425  106.201375   96.127335
16   81.042820   92.669120  102.457063   92.056334
17  106.628633  101.396918  100.869052  102.964867
18  117.081480   93.153271   90.316192  100.183648
19  108.886110  104.140560  107.284710  106.770460
20  108.463672  104.135617   88.524501  100.374597

In [8]:
# Criando a coluna "log_med"
df['log_med'] = np.log(df['media'])  

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media   log_med
1    95.914339   97.203109   95.180359   96.099269  4.565382
2   102.527639  100.092296   97.096843   99.905592  4.604226
3   110.805916  125.086320  116.113782  117.335340  4.765036
4   105.115297   86.518766   97.510945   96.381669  4.568316
5    99.045829  117.724781   87.219791  101.330134  4.618384
6    91.428006   94.805887  118.733286  101.655726  4.621592
7    88.841144   95.742171  103.342288   95.975201  4.564090
8    95.480309   99.426082   88.432296   94.446229  4.548031
9   113.191075   95.277716  111.794696  106.754496  4.670532
10  110.314288   92.710667   92.160607   98.395187  4.588992
11   85.170685  118.300499   98.284368  100.585184  4.611005
12   88.854449   96.348608  104.936308   96.713122  4.571749
13  115.444357   90.815115  111.034152  105.764541  4.661215
14   90.916908  104.190968  113.242739  102.783538  4.632625
15   80.339205  101.841425  106.201375   96.127335  4.565674
16   81.042820   92.669120  102.457063   92.056334  4.522401
17  106.628633  101.396918  100.869052  102.964867  4.634388
18  117.081480   93.153271   90.316192  100.183648  4.607005
19  108.886110  104.140560  107.284710  106.770460  4.670681
20  108.463672  104.135617   88.524501  100.374597  4.608909